<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
    <listener class-name="com.opencart.reports.ExtentReport" />
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.opencart.tests.OrderPlacementTest"/>
      <class name="com.opencart.tests.WishlistTest"/>
      <class name="com.opencart.tests.NegativeAccountTest"/>
      <class name="com.opencart.tests.AccountCreation"/>
      <class name="com.opencart.tests.EditAccountTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
